@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

:root {
    --mainColor: #000;
    --textColor: #ffffff;
    --highlightColor: #ff0000;
    --gray: #d9d9d9;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 2rem;
    color: var(--textColor);
    position: relative;
    z-index: 10;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    margin: 0 2rem;
    color: var(--textColor);
    text-decoration: none;
    font-size: 1rem;
}

nav a:hover {
    color: var(--highlightColor);
    transition: 0.5s;
}

header button {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--textColor);
}

header img {
    width: 80px;
    height: 70px;
}

@media only screen and (max-width: 768px) {
    header .container {
        position: relative;
        z-index: 10;
    }

    header button.nav_open {
        opacity: 1;
        visibility: visible;
    }

    nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: #29335c;
        transition: transform 0.3s ease-in-out;
        transform: translateY(-100%);
        z-index: 1;
    }

    .responsive_nav {
        transform: translateY(0);
    }

    .nav_close {
        position: absolute;
        top: 20px;
        right: 20px;
    }
}

@media only screen and (min-width: 769px) {
    header button.nav_open {
        display: none;
    }

    nav {
        position: static;
        transform: none;
        height: auto;
        width: auto;
        flex-direction: row;
        background-color: transparent;
    }

    .nav_close {
        display: none;
    }
}
